*{
    margin : 1px; 
    padding: 0px;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
 .sign-in
 {
    padding : 10px 15px;
    background-color: white;
    border: 1px solid green; 
    border-radius: 5px;  
    font-weight: bold;
    color: green;

 }

 .banner-container
 {
    width: 100%;
    height: 90vh;  
    border-radius: 3%;
    background-image: url("./UI/banner.png");
    background-size: cover;

 }
 
 .pillar-section{
        display: flex;
        justify-content: space-between;
        margin: 70px 0px 20px 0px;
        padding: 5px 5px 5px 5px;
        text-align: left;
 }
 .pillar-box
 {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: space-between;
    
 }

.Box1
{
    height: 244px;
    width: 302px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 24px;
}
.Box11
{
    height: 62px;
    width: 62px;
    margin: 25px;
    
}
.innovation{

    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
.innovation-para{
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}
.Box2
{
    height: 244px;
    width: 302px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 24px;
}
.Box12
{
    height: 62px;
    width: 62px;
    margin: 25px;
    
}
.sustainability{

    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
.sustainability-para{
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}

.Box3
{
    height: 244px;
    width: 302px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 24px;
}
.Box13
{
    height: 62px;
    width: 62px;
    margin: 25px;
    
}
.infrastructure{

    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
.infrastructure-para{
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}
.Box4
{
    height: 244px;
    width: 302px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 24px;
}
.Box14
{
    height: 62px;
    width: 62px;
    margin: 25px;
    
}
.empowerment{

    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
.empowerment-para{
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
}
.vision0{
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 20px 0px;
    padding: 5px 5px 5px 5px;
    text-align: left;
}
.vision1{
    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 50px;
}

.pillar-box-vision
{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: space-between;
}
.Box1V
{
height: 326px;
width: 410.67px;
background-color: rgba(213,226,245,255 );
border-radius: 10px;
}
.Box11V
{
height: 62px;
width: 62px;
margin: 25px;

}
.digital-transformation{

display: flex;
justify-content: left;
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
font-size: 20px;
font-weight: bold;
}
.digital-transformation-para{
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
font-size: 20px;
}
.learn-more-1
{
    margin: 10px 10px 10px 10px; 
    padding : 10px 15px;
    background-color:rgba(97, 139, 230,255); 
    border-radius: 10px;  
    font-weight: bold;
    color: white;
    border-style: none;
}
.Box2V
{
height: 326px;
width: 410.67px;
background-color: rgba(199,227,213,255);
border-radius: 10px;
}
.Box12V
{
height: 62px;
width: 62px;
margin: 25px;

}
.green-energy{

display: flex;
justify-content: left;
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
font-size: 20px;
font-weight: bold;
}
.green-energy-para{
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
font-size: 20px;
}
.learn-more-2
{
    margin: 10px 10px 10px 10px;
    padding : 10px 15px;
    background-color:rgba(18,142,86,255); 
    border-radius: 10px;  
    font-weight: bold;
    color: white;
    border-style: none;
}
.Box3V
{
height: 326px;
width: 410.67px;
background-color: rgba(246,235,207,255);
border-radius: 24px;
}
.Box13V
{
height: 62px;
width: 62px;
margin: 25px;

}
.modern-infrastructure{

display: flex;
justify-content: left;
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
font-size: 20px;
font-weight: bold;
}
.modern-infrastructure-para{
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
font-size: 20px;
}
.learn-more-3
{
    margin: 10px 10px 10px 10px; 
    padding : 10px 15px;
    background-color:rgba(243,194,70,255); 
    border-radius: 10px;  
    font-weight: bold;
    color: white;
    border-style: none;
}
.speech{
    width: 1355px;
    height: 120px;  
    margin: 10px 10px 10px 10px;    
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color:rgb(230, 230, 246);

}
.speech-icon
{
    height: 64px;
    width: 64px;
    position: absolute;
    display: flex;
    justify-content: left;
}
.speech2{
    margin : 10px 1px 10px 1px;
    padding: 1px 1px 1px 1px;
}
.opinion-section{
    margin: 10px 0px 10px 0px;
    padding: 1px 1px 1px 1px;
    text-align: left;
    justify-content: left;
}
.opinion-section1{
    width: 1355px;
    height: 220px;  
    margin: 10px 10px 10px 10px;    
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color:rgb(230, 230, 246);
}
.question-select-opinion{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(199,227,213,255);
    border: 1px solid gray;
}
.recent-new{
    margin: 20px 20px 20px 20px;
    padding: 1px 1px 1px 1px;
}

.recent-news-container1
{
    width: 1355px;
    height: 320px;  
    margin: 10px 10px 10px 10px;    
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color:rgb(230, 230, 246);
    display: flex;
    justify-content: space-between;
    align-items: normal;

}
.recent-news-heading1{
    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
.recent-news-container2
{
    width: 1355px;
    height: 320px;  
    margin: 10px 10px 10px 10px;    
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color:rgb(230, 230, 246);
    display: flex;
    justify-content: space-between;
    align-items: normal;

}

.recent-news-container3
{
    width: 1355px;
    height: 320px;  
    margin: 10px 10px 10px 10px;    
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color:rgb(230, 230, 246);
    display: flex;
    justify-content: space-between;
    align-items: normal;

}
.donate1{
    margin: 20px 20px 20px 20px;
    padding: 1px 1px 1px 1px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.donte100{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 1px;
}
.donte200{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 1px;
}.donte300{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 1px;
}
.donte400{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 1px;
}
.donteany{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 1px;
}
.donatenow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 1px;
}
.newsletter-section
{
    margin: 20px 20px 20px 20px;
    padding: 1px 1px 1px 1px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(230, 230, 246);
}